<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden z-30 "
data-header-color="black">
    <div class="z-30 relative h-full flex flex-col"> 

        <header class="flex flex-col z-30 relative">
        <h2 class="text-black pt-40 text-[40px] font-medium">Carga</h2>
        <p class="text-black text-sm underline">Accessories compatibles con modelos Tesla</p>
         </header>

          <footer class="flex flex-col flex-grow justify-end pb-20 ">
          <div class="gap-x-6 flex m-auto pt-[500px]">	


            <a class="border-[3px] border-gray-300 bg-gray-300 text-black text-sm rounded font-medium  px-12 py-2  hover:bg-gray-300
            hover:text-black hover:border-gray-300 transition-colors items-center justify-center inline-flex " href="#">
            Explorar inventario</a>

            




          </div>
        
          </footer>
        </div>

        <div class="absolute top-0 bottom-0 z-10">
        <img src="/accessories.avif " 
        alt="Accessories" 
        class="h-full w-full object-cover object-center"
        />
        </div>

        </section>