<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden z-30 "
data-header-color="white">

<!-- data-header-color cambiamos de color el texto del header -->
    <div class="z-30 relative h-full flex flex-col"> 

        <header class="flex flex-col z-30 relative">
        <h2 class="text-white pt-40 text-[40px] font-medium">Powerwall</h2>
        
         </header>

          <footer class="flex flex-col flex-grow justify-end pb-20 ">
          <div class="gap-x-6 flex m-auto pt-[500px]">	


            <a class="border-[3px] border-white text-white text-sm rounded font-medium  px-12 py-2  hover:bg-white
            hover:text-black hover:border-white transition-colors items-center justify-center inline-flex " href="#">
            Manténganme informado</a>

            




          </div>
        
          </footer>
        </div>

        <div class="absolute top-0 bottom-0 z-10">
        <img src="/powerwall.avif " 
        alt="Accessories" 
        class="h-full w-full object-cover object-center"
        />
        </div>

        </section>